body {
  background-color: #99FF33;
  font-family: Montserrat, sans-serif;
  color: #4d3319; / 
    
.kartu-profil{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background color: white;
    border - radius: 15px;
    box - shadow: 0 4px 8px rgba(0,0,0,1);
