body {
  background-color: #4d0000;
  font-family: Montserrat, sans-serif;
  color: #4d3319; / 
}
.kartu-profil{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}
.kartu-profil img {
  width: 150px:
  border-radius:50%;
