body {
  background-color: #4d0000;
  font-family: Montserrat, sans-serif;
  color: #ffff00;
}
.kartu-profil{
    width: 125px;
    margin: 70px auto;
    padding: 20px;
    background-color: #330000 !important ;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,5);
}
.kartu-profil img {
  width: 50px;
  border-radius:15px;
}
